*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
app/src/test/java/com/caffeinatedfingers/myuscrecapp/TimeSlotTests.java
database.rules.json
firebase-debug.log
firebase.json
firestore.indexes.json
firestore.rules
functions/.eslintrc.js
functions/package-lock.json
